version: '2'
services:
  crawler:
    build: .
    volumes:
      - .:/code
    dns: 8.8.8.8 #fix due to a bug (https://forums.docker.com/t/intermittent-dns-resolving-issues/9584/19)
    # links:
    #   - phantomjs
  # phantomjs:
  #   image: "wernight/phantomjs:latest"
  #   ports:
  #     - "8910:8910"
